# chezmoi
alias cz='chezmoi'
alias czs='chezmoi status'
alias czA='chezmoi apply'
alias cza='chezmoi add'
alias czc='chezmoi cd'
alias czd='chezmoi diff'
alias cze='chezmoi edit'
alias czu='chezmoi update'
alias czuA='chezmoi update --apply'

{{- if eq .chezmoi.osRelease.id "raspbian" -}}
alias installPihole = 'curl -sSL https://install.pi-hole.net | bash'

{{- end -}}
# neovim
alias v='nvim'
alias v.='v .'

#quickedit
alias vl='v ~/.local_aliases'
alias va='v ~/.aliases'
alias vt='v ~/.tmux.conf'
alias vz='v ~/.zshrc'
alias sz='source ~/.zshrc'
alias vg='v ~/.gitignore'
alias ignore='v .gitignore'

#quickchange
alias ..='cd ..'

#System
alias c="clear"
alias x="exit"
alias j="jobs -l"
alias kl="killall -9"
alias h="history"
alias hg="h | grep"
alias fastping='ping -c 100 -s'
alias targz='() { tar -zcvf $1.tar.gz $1; rm -r $1; };'
alias untargz='() { tar -zxvf $1; rm -r $1; };'
alias unlockbrew='rm -rf /usr/local/var/homebrew/locks'
alias ct='crontab'
alias meminfo='free -m -l -t'
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'

#FileSystem
alias delds='find . -name ".DS_Store" -delete'
alias mkcd='() { mkdir $1; cd $1; };'
alias lg='() { ls | grep $*; };'
alias lag='() { ls -a | grep $*; };'
alias llg='() { ls -l | grep $*; };'

#tmux
alias t="tmux"
alias tls="t ls"
alias ta="t a"
alias tat="ta -t"
alias tk="t kill-session"
alias tkt="tk -t"
alias ts="t switch"
alias tst="ts -t"
alias tn="t new -s"

#Git
alias g="hub"

##git setup
alias gc="g clone"
alias gi="g init"
alias gir="g create"
alias gra="g remote add"
alias gU='() { g config credential.${remote}.username $1; g config credential.helper store; };'
alias ggunset="g config --global --unset credential.helper"
alias grunset="g config --unset credential.helper"
alias gguser="g config --global user.name"
alias gruser="g config user.name"
alias ggemail='g config --global user.email'
alias gremail='g config user.email'

##git control
alias gs="g status"
alias gfs="g fetch;gs"
alias grm="g rm"
alias grm.="grm ."
alias ga="g add"
alias ga.="ga ."
alias gcof='gco -f'
alias gcof.="gcof ."
alias gd="g diff"
alias gdt="g difftool"
alias gr="g reset"
alias gr.="gr ."
alias gR="gr --hard"
alias gl='g log'
alias gbk="gr HEAD~"
alias gfw="gr 'HEAD@{1}'"
alias grh="gr --soft HEAD"
alias gid="g rev-parse HEAD"
alias gids="g rev-parse --short HEAD"
alias gl="g log"
alias glg="gl | grep"
alias cg="c;gs"
alias gfc="gf;cg"
alias gfcs="gf;cgs"
alias gDrop="ga.;gS;gSd 0"
alias gt='g tag'
alias gignore='g update-index --assume-unchanged'
alias gunignore='g update-index --no-assume-unchanged'
alias gignored='g !git ls-files -v | grep "^[[:lower:]]"'

##git commit
alias gC="g commit"
alias gCm="gC -m"
alias gCam="gC -a -m"

##git remote
alias gf="g fetch"
alias gp="g pull"
alias gP="g push"
alias gstP="g subtree push --prefix"
alias gpr="g pr list"
alias gprg="gpr | grep"

##git branch
alias gb="g branch"
alias gba="gb -a"
alias gbag="gba | grep"
alias gbg="gb | grep"
alias gbd="gb -D"
alias gbrd="gP origin --delete"
alias gBD='() { gbd $1; gbrd $1; };'
alias gbr="gb -r"
alias gbrg="gbr | grep"
alias gbv="gb -vv"
alias gbm="gb -m"
alias gbrm="gP origin :"
alias gPuo="gP -u origin"
alias gco="g checkout"
alias gcob='() { gco -b "$1" "origin/$1"; };'
alias gm="g merge"
alias gPsuo="gP --set-upstream origin"

##git stash
alias sgrep='() { ref=$(g --no-pager stash list | grep "$1" | cut -d: -f1 | head -n1); echo ${ref:-<no_match>}; };'
alias gS="g stash"
alias gSl="gS list"
alias gSp="gS pop"
alias gSa="gS apply"
alias gSc="gS clear"
alias gSsw="() { g stash show stash^{/$*} -p; };"
alias gSap="() { g stash apply stash^{/$*}; };"
alias gSsv="gS save"
alias gSd='() { g stash drop stash@{$1}; };'
alias gSds='() { git stash drop $(sgrep $1); };'

#Git-Funcs
alias gB='() { gco -b "$1"; gPsuo "$1"; cg; };'
alias gbM='() { gco "$1"; gbm "$2"; gbrd "$1"; gco "$2"; gPou "$2"; };'
alias gpbM='() { gp; gco "$1"; gbm "$2"; gbrd "$1"; gco "$2"; gPou "$2"; };' 
alias gcorb='() { g checkout -b "$1" "origin/$1";};'

