#!/bin/sh

# macos
{{ if eq .chezmoi.os "darwin" -}}
	# install brew
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	# install neovim
	brew install neovim
	# install iterm2
	brew install --cask iterm2
	# install tmux
	brew install tmux
{{ else if eq .chezmoi.os "linux" -}}
	# update pacman
	sudo pacman -Syu
	# install neovim, tmux
	sudo pacman -S neovim tmux
{{ end -}}

